body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
  /*background: #f44336;*/
  text-align: center;
}

.test {
  background: grey;
}

table {
    border-collapse: separate;
    border-spacing: 12px;
    border-color: gray;
    padding: 2px;
}
table, th {
    border: 1px solid black;
}
